.e-clublogo{
    height: 70px;
}

#navItem1 {
    color: #464646;
    font-family: "Roboto";
}

.e-club-section{
    background-color: #646464;
}

.team-heading {
    margin-bottom: 52px;
    text-align: center;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
    color: antiquewhite;
}

.person-names {
    color: #e0e7ee;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
    text-align: center;
  }

.club-members-card {
    border-radius: 16px;
    background-color: #000000;
}

.team-image {
    border-radius: 100px;
    background-color: rgb(0, 0, 0);
}


.follow-us-icon-container {
    width: 50px;
    height: 50px;
  }

.icon {
    color: #ebeaf0;
    font-size: 25px;
}

.p{
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f1f1;
    text-align: center;
}
.team-image :hover {
    transform: scale(1.2);
}